body{background-color:rgb(224, 10, 224)}
h1{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size:40px;
    text-decoration: underline;
}
.queen1{
    border-style:outset;
    border-color:aqua;
    height:50%;
    width:50%
}
.queen2{
    margin-right:0px;
    margin-left:950px;
    margin-top:-700px;
    text-align:right;
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    color:aqua
}