body{background-color: rgb(169, 241, 241) ;
}
h1{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size:40px;
    text-decoration: underline;
}
.date1{
    width:600px;
    height:500px;
    border-style:outset;
    border-color: rgb(224, 10, 224);
}
.date1d{
    text-align:center;
    margin-left:300px;
    margin-top:-500px
}